include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include src/vi_api_client *.py
recursive-include src/vi_api_client/fixtures *.json

# Exclude documentation and local config
exclude tokens.json
global-exclude *.pyc
global-exclude __pycache__
